@font-face {
    font-family: 'BrassMono';
    src: url('brassmono.ttf') format('truetype');
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #590D22;
}


.intro { /* description text */
    color: #FFF0F3;
    font-family: 'BrassMono', monospace;
    text-shadow: 2px 2px #FF4D6D;
}

.intro a { /* clickable text */
    color: #FFF0F3;
    text-decoration: none;
    font-size: 30px;
    text-shadow: 2px 2px #d3687b;
    letter-spacing: 2px; 
    transition: text-shadow 0.3s ease, letter-spacing 0.3s ease; 
}

.intro a:hover {
    text-shadow: 2px 2px #af214a;
    letter-spacing: 6px; 
}


p {
    font-size: 30px;
    text-indent: 30px;
}

span {
    font-size: 30px;
}

ul {
    list-style: none;
}


li {        
    color: #FFF0F3;
    font-size: 30px;
    text-shadow: 2px 2px #FF4D6D;
}

section {
    min-height: 100vh; 
    display: flex;
    align-items: center;
    place-items: center;
    justify-content: center;
}


.paragraph { /* p text */
    color: #FFF0F3;
    font-family: 'BrassMono', monospace;
    text-shadow: 2px 2px #FF8FA3;
}

.comment {  /* comment text */
    color: #FFF0F3;
    font-family: 'BrassMono', monospace;
    text-shadow: 2px 2px #FFB3C1;
}
