@font-face {
    font-family: 'BrassMono';
    src: url('brassmono.ttf') format('truetype');
}

canvas {
    display: block;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100vh;
    z-index: 0; 
    user-select: none;

}

html, body {
    margin: 0;
    padding: 0;
    background-color: #110b11;
    overflow:hidden;

}


.intro { /* description text */
    color: #edf2ef;
    font-family: 'BrassMono', monospace;
    text-shadow: 2px 2px #666466;
    align-content: center;
}

svg path {
    fill: #edf2ef; 
    transition: fill 0.5 ease;
}



.text {
    color: #edf2ef;
    text-decoration: none;
    font-size: 30px;
    text-shadow: 2px 2px #666466;
    letter-spacing: 0;
    transition: text-shadow 0.3s ease;
    display: inline-block; 
    box-sizing: border-box;
    text-indent: initial;
    user-select: none;
}


.text:hover {
    text-shadow: 2px 2px #edf2ef;

}



p {
    font-size: 30px;
    text-indent: 30px;
}

span {
    font-size: 30px;
}


.landing {
    height: 165vh; 
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center;
    z-index: 1; 
    position: relative;
}

.landing .intro {
    margin-right: 20px; 
}

.landing a {
    display: block;
    margin-right: 10px;

}


.landing .intro:last-child,
.landing a:last-child {
    margin-right: 0; 
}

.landing a > svg path {
    fill: #edf2ef; 
    transition: fill 0.3s ease-in-out; 
}

.landing a[href="https://github.com/yodering"]:hover > svg path {
    fill: rgb(170, 66, 190);
}

.landing a[href="https://www.linkedin.com/in/yodering/"]:hover > svg path {
    fill: rgb(99, 157, 211);
}

.landing a[href="https://www.youtube.com/c/yodering"]:hover > svg path {
    fill: rgb(235, 87, 87);
}


.other {
    min-height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1; 
    position: relative;
}



footer {
    font-family: 'BrassMono', monospace;
    font-size: 30px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px 0; 
    background-color: #110b11; 
    z-index: 1;
}






