@font-face {
    font-family: 'BrassMono';
    src: url('brassmono.ttf') format('truetype');
}



html {
    margin: 0;
    padding: 0;
    background-color: #110b11;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #110b11;
    overflow: hidden;
}

.container {
    display: flex;
    align-items: center;
}

.regular {
    color: #edf2ef;
    text-decoration: none;
    text-shadow: 2px 2px #666466;
    letter-spacing: 0;
    transition: text-shadow 0.3s ease;
    display: inline-block; 
    box-sizing: border-box;
    text-indent: initial;
}

.regular:hover{
    text-shadow: 2px 2px #edf2ef;
}



.p1 {
    color: #edf2ef;
    font-family: 'BrassMono', monospace;
    font-size:20px;
}

.a-red {
    color: #edf2ef;
    text-decoration: none;
    text-shadow: 2px 2px #e75353;
    letter-spacing: 0;
    transition: text-shadow 0.3s ease;
    display: inline-block; 
    box-sizing: border-box;
    text-indent: initial;
}

.a-red:hover {
    text-shadow: 2px 2px #edf2ef;
}





p {
    color: #edf2ef;
    font-family: 'BrassMono', monospace;
    font-size:25px;
}




.a-selected {
    color: #edf2ef;
    text-decoration: none;
    text-shadow: 2px 2px #edf2ef;
    letter-spacing: 0;
    transition: text-shadow 0.3s ease, letter-spacing 0.3s ease, transform 0.5s ease;
    display: inline-block; 
    box-sizing: border-box;
    text-indent: initial;
}





footer {
    font-family: 'BrassMono', monospace;
    font-size: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px 0; 
    background-color: #110b11; 
    z-index: 1;
}



.list {
    text-align: left;
    margin-right: 5vh;
    overflow-y: auto;
    max-height: 80vh;
    padding-right: 15px;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    column-gap: 13px;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    overflow: auto;
    max-height: 70vh;
    overflow-x: hidden;
    padding-right: 15px;
}

.image-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 200px; 
    border-radius: 10px;
    margin: 2px;
}




.image-grid-g {
    gap: 5px; 
    justify-content: center;
    align-items: center;
    margin-left: 20px; 
    overflow: hidden; 
    max-height: 70vh; 
    overflow-x: hidden;
}

.image-grid-g img.graphify-image {
    width: 640px; 
    height: 360px; 
    border-radius: 10px;
    margin: 2px;
}





.other {
    min-height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1; 
    position: relative;
}

span {
    font-size: 30px;
}


.intro { /* description text */
    color: #edf2ef;
    font-family: 'BrassMono', monospace;
    text-shadow: 2px 2px #666466;
    align-content: center;
}




.image-container {
    position: relative;
    transition: filter 0.3s ease;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    color: #edf2ef;
    font-family: 'BrassMono', monospace;
    font-size: 16px;
    text-align: center;
    transition: opacity 0.3s ease;
    cursor:pointer;
}

.image-container:hover .overlay-text {
    opacity: 1;
}

.image-container:hover{
    filter: grayscale(100%);
}